$darkBackground: rgba(0, 0, 0, 0.753);
$fontColor: whitesmoke;
body {
  background-color: $darkBackground;
}
.mainPageWrapper {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  .titleLoginWrapper {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    .title {
      justify-content: center;
      display: flex;
      color: $fontColor;
      text-align: center;
      width: 60vw;
    }
    .loginWrapper {
      border: solid black;
      display: flex;
      flex-direction: column;
      width: 20vw;
      justify-content: center;

      .usernamePasswordDiv {
        width: 100%;
        input {
          width: 7vw;
        }
        input:focus {
          outline: none;
        }
      }
      .buttonsDiv {
        display: flex;
        justify-content: space-evenly;
        input {
          border-radius: 0.25vw;
          outline: none;
          font-size: 1vw;
          cursor: pointer;
        }
        #loginBtn {
          background-color: rgb(64, 211, 64);
          color: $fontColor;
          border: solid rgb(138, 138, 194) 0.15vw;
        }
        #loginBtn:hover {
          background-color: rgb(138, 138, 194);
          color: $fontColor;
          color: black;
        }
        #signUpButton {
          background-color: rgb(138, 138, 194);
          color: $fontColor;
          border: solid rgb(64, 211, 64) 0.15vw;
        }
        #signUpButton:hover {
          background-color: rgb(64, 211, 64);
          color: $fontColor;
          border: solid rgb(64, 211, 64) 0.15vw;
        }
      }
    }
  }
  .centralPageWrapper {
    display: flex;
    border: solid yellow;
    height: 70vh;

    .liveGraph {
      margin-left: auto;
      border: solid blue;
      width: 60vw;
    }
    .sidebar {
      border: solid red;
      width: 20vw;
    }
  }
}
